.single.page {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.single.page .title{
  background-color: #f2f2f2;
  padding: 8px 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.single.page .details .block {
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
}
.single.page .details .block:last-child {
  border-bottom: none
}
.single.page .details .block .label {
  width: 150px;
  padding-left: 20px;
  font-weight: 600;
  flex-shrink: 0;
  font-size: 14px;
}
